
.dashboard_items{
  padding: 40px 21px;
  box-sizing: border-box;
  background: $dashboardBgColor;
  .dashboard_top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dashboard_top_left{
      display: flex;
      justify-content: center;
      align-items: center;

      .dashboard_top_left_text{
        color: $textColor;
        margin: 0 31px 0 11px;
      }
    }

  }

  .dashboard_items_items{
    width: 100%;
    min-height: 288.34px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 21px;
    margin-top: 31px;
    .dashboard_item_create{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      cursor: pointer;

      text{
        font-family: '404px';
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        text-align: center;
        color: $textSecondaryColor;
        margin-top: 9px;
      }
    }
    .dashboard_item{

      padding: 18px 21px;
      box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      // margin: 0 21px 21px 0;

      box-sizing: border-box;
      .dashboard_item_tag{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dashboard_item_tag_left{
          width: 61px;
          border-radius: 62.5px;
          background: $tagBgColor;
          font-family: '404px';
          font-size: 10px;
          font-weight: 700;
          line-height: 20px;
          text-align: center;
          color: $tagColor;
        }
        .dashboard_item_tag_right{

          display: flex;
          align-items: center;
          justify-content: center;

          text{
            font-family: '404px';
            font-size: 14px;
            font-weight: 600;
            line-height: 31px;
            text-align: right;
            margin-right: 11px;
          }
        }
      }
      .dashboard_item_info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0 10px 0;
        .dashboard_item_info_img{
          width: 61px;
          height: 61px;
          border-radius: 50%;
        }
        .dashboard_item_info_title{
          h3{
            font-family: '404px';
            font-size: 18px;
            font-weight: 800;
            line-height: 32px;
            text-align: right;
          }
          p{
            font-family: '404px';
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            text-align: right;
          }
        }
      }
      .dashboard_item_content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dashboard_item_content_left{
          font-family: '404px';
          font-size: 14px;
          font-weight: 600;
          line-height: 31px;
          text-align: left;
          color: $textSecondaryColor;

        }
        .dashboard_item_content_right{
          font-family: '404px';
          font-size: 18px;
          font-weight: 600;
          line-height: 31px;
          text-align: right;
          color: $textColor;

        }
      }
    }
  }

}

.ant-btn{
  width: 197.69px;
  height: 38.57px;
  border-color: $dashboardBtnBorderColor !important;
  display: flex;
  justify-content: center;

  span{
    color: $dashboardBtnBorderColor;
    font-family: '404px';
    font-size: 14px;
    font-weight: 800;
    text-align: left;
    line-height: 31px;
  }

  &:hover{
    border-color: green !important;

    span{
      color: green;
    }
  }
}

