.ant-modal  .ant-modal-content{
  background: #1F3B4F !important;

  .ant-btn{
    width: 100%;
    background: $dashboardBtnBorderColor !important;
    span{
      color: $color !important;
    }
  }
}
.ant-modal .ant-modal-title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  text-align: left;
  background: #1F3B4F !important;
}
.confirm_title{
  width: 269px;
  font-family: 404px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(270deg, #14FCFB 0%, #07E993 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.unlocked {
  width: 137px;
  color: $textColor;
}
.unlock {
  h3 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: right;
    color: $textColor;
  }
  p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    text-align: right;
    color: $textColor;
  }
}
.lock {
  margin-left: 14px;
}
.claimable {
  width: 100%;
  background: #2B526E !important;
  color: $textColor;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 14px;
  box-sizing: border-box;
  margin-top: 34px;
  .claimable_left {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
  }
  .claimable_right {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    text-align: right;
  }
}
.ant-btn{
  background: $mainColor;
  color: $mainBgColor;
}
