.mobile-bg {
  background: #090A10;
  margin: 0 auto;
}
.beta-btn{
  background: linear-gradient(90deg, #07E993 0%, #B53BFF 100%);
  color: #fff;
  border: 1px solid #FFFFFF;
  width: 66px;
  height: 26px;
  border-radius: 4px;
  text-align: center;
  font-family: '404px';
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
}
.mobile-version{
  border: 1px solid #07E993;
  border-radius: 7px;
  background-color: #1F3B4F;
  padding: 1.25rem 2.875rem;
}
