.i_select{
  height: 46px;

  .ant-select {
    color: #07E993;
    background: #1F3B4F;
  }
  .ant-select-single{
    height: max-content;
  }
   .ant-select-selector{
    background: #1F3B4F !important;
    border: 1px solid #07E993 !important;
    border-radius: 7px !important;
    width: 231px !important;

   }
   .ant-select-selection-item{
    font-family: '404px';
    font-size: 16px;
    font-weight: 400;

    color: #07E993;
    display: flex;
    align-items: center;
   }
   .ant-select-arrow{
    color: #07E993;

   }
   .ant-select-dropdown {
    background-color: #07E993 !important;
    border: 1px solid #07E993 !important;
  }

  .ant-select-item {
    color: #ff0000;
    background: #1F3B4F
  }

   .ant-select-item-option-selected {
    background-color: #07E993 !important;
  }

   .ant-select-item:hover {
    background-color: #07E993;
  }
  .ant-select-outlined{
    color: #07E993 !important;
  }
  .ant-select-open{
    color: #07E993 !important;
  }

}
