// .header_banner_bg{
//   width: 100vw;
//   height: 470px;
//   background: url(./header-banner-bg.png) no-repeat;
//   background-size: cover;
//   margin-left: 50%;
//   transform: translateX(-50%);
//   position: relative;
//   padding: 0 5.625rem;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;


//   .header_banner_text{

//   }
// }

.dashboard{
  width: 100%;
  .dashboard_content{
    margin: 0 auto;
    margin-top: 70px;
    width: 78.875rem;
  }
}

