@import url('@/assets/styles/button.scss');
.not-created{
  background: url('/dashboard/not-created-bg.png') no-repeat center center;
  background-size: cover;
  padding: 80px 0  33px 0;
  border: 1px solid #5d64a2;
  border-radius: 15px;
}
