.profile-layout{
  display: grid;
  grid-template-columns: 406px auto;
  column-gap: 22px;
}
.profile-layout-left{
  border-radius: 20px;
  background: #131522;
}
.profile-layout-right{
  border-radius: 20px;
  background: #131522;
  border: 1px solid #5D64A2;
  border-radius: 15px;
}

