.special-medals-and-ranks{
  background: url('/dashboard/special-medals-and-ranks-bg.png') no-repeat center center;
  background-size: cover;
  border: 1px solid #5D64A2;
  border-radius: 15px;


  .special-medals-and-ranks-title{
    border-bottom: 1px solid #5D64A2;
  }
}
