.top-performing-token{
  padding: 35px 0 55px 22px;
  border-radius: 15px;
  border: 1px solid #5d64a2;

}

.view-token-button{
  background: transparent;
  border: 1px solid #AEB1D1;
  border-radius: 4px;
}
.token_info{
  &:hover{
    border: 1px solid #07E993;

    .view-token-button{
      background: #07E993;
      color: #1F3B4F;
      border: none;
    }
  }


}
