.ido-info-item {
  display: flex;
  align-items: center;


  &:last-child {
    border: none;
  }

  >span {
    font-family: OCR A Extended;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #7D83B5;
  }

  >span:last-child {
    font-family: OCR A Extended;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.05em;
    text-align: right;
    color: #fff;
    margin-left: auto;
    ;
  }
}

.ido-info-item-border {
  border-bottom: 1px solid #5D64A2;
}
