.progress{
  color: $textColor;

  .progress_slider{
    flex: 1;
    background: transparent;
    border-radius: 7px;
    // height: 5px;
    .ant-slider-step{
      background: #1F3B4F;
      border-radius: 7px;
      height: 5px;
    }
    .ant-slider-rail{
      border-radius: 7px;
      height: 5px;
    }
    .ant-slider-track{
      background: $mainColor !important;
      border-radius: 7px;
      height: 5px;
      z-index: 99;
    }

    .ant-slider-handle::after{
      top: 50%;
      transform: translateY(-50%);
    }
    .ant-slider-handle::before{
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.memoo_slider_tooltip{
  font-family: "OCR A Extended";
  border: 1px solid #07E993;
  background-color: #1F3B4F;
  border-radius: 4px;
  padding: 4px 5px;
  color: #07E993;
  min-width: 100px;

   .ant-tooltip-inner{
      color: #07E993;
      font-family: "OCR A Extended";
   }
}
