.progress{
  color: $textColor;
  .progress_slider{
    flex: 1;
    background: #1F3B4F;
    border-radius: 7px;
    height: 5px;

    .ant-slider-handle::after{
      top: 50%;
      transform: translateY(-50%);
    }
    .ant-slider-handle::before{
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.memoo_slider_tooltip{
  font-family: "OCR A Extended";
}
