.container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0px;

  &.larger {
    flex-grow: 1.6;
  }

  &.vertical {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: start;
  }
}

.content-banner-bg {
  height: 714px;
  background: url('/img-content-banner-bg.png') no-repeat center center;
  width: 100vw;
  position: absolute;
  left:0;
  background-size: cover;
}
.content-banner {
  position: relative;
  padding-bottom: 30px;
  .text-ultimate {
    font-family: 'Montserrat Bold';
    font-weight: 700;
    font-size: 80px;
    color: #F2F2F2;
    width: 642px;
    margin-top: 20px;
    line-height: 85px;
  }
  .text-sub {
    font-family: 'Open Sans';
    font-size: 24px;
    color: #F2F2F2;
    width: 557px;
    margin-top: 25px;
    line-height: 32.68px;
    font-weight: 600;
  }
}
.content-data {
  background: #F0F0F0;
  width: 100vw;
  margin: 0 auto;
  // height: 500px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: #000000;
  .content-data-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;

  }
  .content-data-security {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    width: 280px;
  }

}
.content-issues {
  background: url('/SVG/img-content-issues-bg.svg') no-repeat;
  background-size: cover;
  width: 100vw;
  margin: 0 auto;
  // height: 500px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: #000000;
}
.content-revolution {
  background: #F0F0F0;
  width: 100vw;
  margin: 0 auto;
  // height: 500px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: #000000;

  .revolution-item {

    width : 405px;
    height : 313px;
    border-radius: 25px;
    padding-bottom: 20px;

    img {
      height: 87px;
      width: auto;
      min-width: 87px;
    }
    .p-title {
      font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 25px;
text-align: center;
margin-top: 30px;


    }
    .p-desc {
      font-family: Open Sans;
font-size: 16px;
font-weight: 600;
line-height: 20px;
text-align: center;

      margin-top: 10px;
    }
  }
}
.content-moo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CC0000;
  width: 100vw;
  margin: 0 auto;
  height: 70px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  p {
    span {
      font-weight: 900;
    }
    width: 450px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color:#F2F2F2;
  }
}

.mobile-bg {
  background: url('/home-mobile-bg.png') no-repeat;
  background-size: cover;
}