.easeAnimation {
  animation:
    _ease0 350ms cubic-bezier(0.15, 1.15, 0.6, 1),
    _ease1 150ms ease;
  animation-duration: 350ms, 150ms;
  animation-timing-function: cubic-bezier(0.15, 1.15, 0.6, 1), ease;
  animation-delay: 0s, 0s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
  animation-fill-mode: none, none;
  animation-play-state: running, running;
  animation-name: _ease0, _ease1;
  animation-timeline: auto;
  animation-range-start: normal;
}

@keyframes _ease0 {
  0% {
    transform: translateY(-88px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes _ease1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
