.i-popover{


}
.ant-popover-arrow{
  display: none !important;
}
// .ant-popover .ant-popover-arrow:before{
//   border-color: #07E993 !important;
//   background-color:#07E993;
// }
.ant-popover-inner{
  font-family: "OCR A Extended";
  border: 1px solid #07E993;
  background-color: #1F3B4F !important;
  border-radius: 4px !important;

  color: #07E993;
  min-width: 100px;
  min-height: 19px;
  padding: 4px 5px !important;
  display: flex;
  align-items: center;
  .ant-popover-inner-content{
    color: #07E993;
    font-family: "OCR A Extended";
    font-size: 10px;
    line-height: 16px;
    // height: 19px;
    text-align: center;
    padding: 0 8px !important;
    // padding: 4px 5px;
    // box-sizing: border-box;
  }
}
