.header-banner-bg {
  width: 100vw;
  height: 470px;
  background: url(./header-banner-bg.png) no-repeat;
  background-size: cover;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
}
