.gecko-header-banner-bg {
  width: 100vw;
  height: 470px;
  background: url(./header-banner-bg.png) no-repeat;
  background-size: cover;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;

  .header-banner-content {
    display: flex;
    justify-content: space-between;
    padding: 0 5.625rem;
    align-items: flex-end;
    padding-bottom: 58px;
    height: 100%;
  }
}
