.gecko-header-banner-bg {
  width: 100vw;
  height: 470px;
  // background: url(./header-banner-bg.png) no-repeat;
  background-size: cover;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;

  .header-banner-content {
    display: flex;
    justify-content: space-between;
    padding: 0 5.625rem;
    align-items: flex-end;
    padding-bottom: 58px;
    height: 100%;
  }
}
.page{
  width: 78.875rem;
  margin: 0 auto;
}
.banner-title{
  background: linear-gradient(90deg, #07E993 0%, #14FCFB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 31.32px;
}
.scroll-more{
  border: 1px solid #07E993;
  border-radius: 7px;
  background-color: #1F3B4F;
}
