.join{
  // background: url('/join/leaderboardbackground.png') no-repeat center center;
  // background-size: cover;
  // margin-left: 50%;
  // transform: translateX(-50%);
  // position: relative;
  // width: 100vw;
  // height: 100vh;

  .join-bg{
    background:  url('/join/leaderboardbackground.png') no-repeat center center;
    width: 100vw;
    position: absolute;
    left:0;
    background-size: cover;
    height: 1000px;
    z-index: 0;
  }

  .join-content{
    z-index: 999;

    .join-search{
      width: 599px;
      height: 46px;
      border: 1px solid #07E993;

      &::placeholder {
        color: #fff !important;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }

      .icon{
        border-left: 1px solid #07E993;
        background-color: #2B526E;
        border-radius: 0 7px 7px 0;
      }
    }
  }
}
