.pre-market-acquisition {
  border-radius: 15px;
  border: 1px solid #07e993;
  background: #1f3b4f;
  padding: 35px 22px 25px 22px;

  .pre-market-acquisition-content{
    background: #2B526E;
    border-radius: 7px;
    padding: 25px 17px;
  }
}
