.wallet-dropdown-menu {
    box-shadow: 4px 4px 20px 0px #00000026;
    background: #FFFFFF;
    // padding:18px 20px;
    width: 250px;
   
}
.divider-x {
    position: absolute;
    width: 100%;
    background: #D2D0D0;
    height: 1px;
    left:0;
    bottom: 60px;
}