.create_token {
  padding: 56px 66px 60px 66px;
  border-radius: 20px;
  background: #131522;
  margin-top: 46px;

  .create_token_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;

    .create_token_top_title {

      font-family: '404px';
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      text-align: left;
      background: linear-gradient(90deg, #07E993 0%, #14FCFB 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .create_token_top_back {
      display: flex;
      align-items: center;
      justify-content: space-between;


    }
  }

  .create_project_title {
    font-family: '404px';
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: #B53BFF;
    text-transform: uppercase;
    margin-right: 20px;
  }

  .create_project_title_span {
    font-family: OCR A Extended;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #7D83B5;
  }


  .create_token_content {
    display: flex;
    justify-content: space-between;
    padding-right: 106px;

    .create_token_bg {
      width: 342px;
      height: 473.35px;

    }

    .create_token_content_form {
      width: 661px;

      .create-form {
        .ant-form-item-label {
          width: 130px;
          margin-right: 30px;

          label {
            width: 100%;
            white-space: pre-wrap;

            font-family: OCR A Extended;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.05em;
            text-align: left;
            width: 118px;

            p>span {
              font-size: 10px;
            }

            &::after {
              display: none;
            }

            &::before {
              display: none;
            }
          }
        }

      }

      .custom-upload-icon {
        width: 100%;

        .ant-upload-select {
          width: 100%;
          height: 140px;
        }

        .ant-upload-list-item-container {
          width: 100%;
          height: 140px;
        }
      }

      .custom-upload-banner {
        width: 100%;

        .ant-upload-select {
          width: 100%;
          height: 140px;
        }

        .ant-upload-list-item-container {
          width: 100%;
          height: 140px;
        }
      }

      .custom-create-textarea {
        .ant-input:focus {
          background: #1F3B4F !important;
        }
      }

      .create_token_content_title {
        .project_info {
          font-family: '404px';
          font-size: 18px;
          font-weight: 400;
          line-height: 29px;
          text-align: left;
          color: #B53BFF;

          >span {
            font-family: OCR A Extended;
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
            text-align: left;
            color: #7D83B5;
            margin-left: 15px;
          }
        }
      }
    }

    .create_fee_desc {
      font-family: OCR A Extended;
      font-size: 12px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: -0.05em;
      text-align: left;
      color: #fff;
    }

    .create_terms {
      font-family: OCR A Extended;
      font-size: 12px;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: -0.05em;
      text-align: center;

    }

    .create_token_img {
      width: 342px;
      margin: 106px 20px 0 0;
    }

    .create_tip_for_acquisition {
      font-family: OCR A Extended;
      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: -0.05em;
      text-align: left;
      color: #7D83B5;
      margin-bottom: 30px;
      margin-top: -15px;
      width: 240px;
    }

    .create_optional_info {
      width: 100%;
      border: 1px solid #7D83B5;
      border-left: none;
      border-right: none;
      padding-top: 23px;
      margin-bottom: 30px;

      .create_optional_info_title {
        display: flex;
        align-items: center;
        margin-bottom: 23px;

        >p {
          font-family: 404px;
          font-size: 18px;
          font-weight: 400;
          line-height: 29px;
          text-align: left;
          color: #B53BFF;
          margin-right: 15px;
        }

        >img {
          width: 16px;
          height: 16px;
          cursor: pointer;
        }
      }
    }
  }

  .token-icon-form-item {
    display: flex;
    align-items: center;
  }

  .token-banner-form-item {
    display: flex;
    flex-direction: column;
  }

  .icon-url-container {
    width: 140px;
    height: 140px;
    position: relative;
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    margin-right: 10px;

    &::before {
      position: absolute;
      z-index: 1;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      background-color: rgba(0, 0, 0, 0.45);
      opacity: 0;
      transition: all 0.3s;
      content: " ";
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover {
      .icon-url-actions {
        opacity: 1;
      }
    }

    .icon-url-actions {
      position: absolute;
      inset-inline-start: 0;
      z-index: 10;
      width: 100%;
      white-space: nowrap;
      text-align: center;
      opacity: 0;
      transition: all 0.3s;
      display: flex;
      justify-content: center;

      margin: 0 4px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s;
      color: #fff;
    }
  }

  .banner-url-container {
    width: 100%;

    >img {
      width: 100%;
      object-fit: contain;
      height: 100%;
    }
  }

  .custom-input {
    background: #1F3B4F;
    border-color: #07E993;
    color: #fff;
  }
}
.ant-form-item-explain-error{
  font-family: "OCR A Extended";
  font-size: 10px;
}
