.i-tooltip{
  background: #2E5875;
  border: 1px solid #07E993;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0px 0px 30px 0px #00000059;
  min-width: 238px;
  .ant-tooltip-inner{
    color: #07E993;
    font-family: 'OCR A Extended';
    font-size: 12px;
    white-space: pre-wrap;
  }
}
