// index.module.scss
.footer {
  // position: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  margin: 0 auto;
  width: 100vw;
  color: $color;
  background-color: #131522;

}


.footerLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 29px 5rem;
}

.footerCopyright {
  display: flex;
  padding: 0 5rem;
  height: 70px;
  width: 100%;
  border-top: 1px solid #AF8DC4;
  padding-top: 10px;
  display: flex;
  align-items: center;
  p {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
    color: #AF8DC4;
  }
}
