.memoo_button {
  border: unset;
  border-radius: 7px;
  background: #07e993;

  color: #a005fe;
  text-align: center;
  font-family: '404px';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */

  &:hover {
    background: #b53bff !important;
    color: #19fda6;
  }
}
