$color: #fff;
$backgroundColor: #fff;
$headerBgColor: #FF0000;

/*
 * Mixins light theme
 */
$light-color: #000000;
$light-backgroundColor: #ffffff;

$dark-color: #ffffff;
$dark-backgroundColor: #3A3D50;

$textColor: #000000;
$textSecondaryColor: #808080;
$textGreyAccentColor: #D9D9D9;
$tagColor: #A9FDDF;
$tagBgColor: #02D488;

$dashboardBgColor: #F7F7F7;
$dashboardBtnBorderColor: #FF0000;

