$color: #fff;
$backgroundColor: #fff;
$headerBgColor: #131522;

/*
 * Mixins light theme
 */
$light-color: #000000;
$light-backgroundColor: #ffffff;

$dark-color: #ffffff;
$dark-backgroundColor: #3A3D50;

$mainColor: #07E993;
$mainBgColor: #B53BFF;
$textColor: #FFFFFF;
$textSecondaryColor: #7D83B5;
$textGreyAccentColor: #D9D9D9;
$tagColor: #FFFFFF;
$tagBgColor: #FF0000;

$dashboardBgColor: #131522;
$dashboardBtnBorderColor: #07E993;

$tabColor: #CCCCCC;

