$color: #fff;
$backgroundColor: #fff;
$headerBgColor: #FF0000;

/*
 * Mixins light theme
 */
$light-color: #000000;
$light-backgroundColor: #ffffff;

$dark-color: #ffffff;
$dark-backgroundColor: #3A3D50;

