.memoo_radio_group {
  border-radius: 7px;
  border: 1px solid #07e993;
  background: #2b526e;
  .ant-radio-button-wrapper {
    padding: 22px 33px;
    height: auto;
    width: auto;
    background: unset;
    &-checked {
      background: #07e993;
      * {
        color: #a005fe !important;
      }
    }
  }
}
