.memoo_slider {
  .ant-slider-step{
    background: #2B526E;
    border-radius: 7px;
    height: 5px;
  }
  .ant-slider-rail{
    border-radius: 7px;
    height: 5px;
  }
  .ant-slider-track{
    background: $mainColor !important;
    border-radius: 7px;
    height: 5px;
    z-index: 99;
  }
}

.memoo_slider_tooltip {
  .ant-tooltip-inner {
    padding: unset;
    min-height: unset;

    color: #fff;
    text-align: center;
    font-family: 'OCR A Extended';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.6px;
  }
}

