.wallet-dropdown-menu {
  // box-shadow: 4px 4px 20px 0px #00000026;
  border: 1px solid #07E993;
  background: #1F3B4F;
  // padding:18px 20px;
  width: 250px;

}

.divider-x {
  position: absolute;
  width: 100%;
  background: #07E993;
  height: 1px;
  left: 0;
  bottom: 60px;
}

.wallet-border {
  border: 1px solid #07D788;
}

.connect-to-memoo {
  background: linear-gradient(270deg, #14FCFB 0%, #07E993 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wallet-adapter-button,
.wallet-adapter-button-trigger {
  background-color: #1f3b4f !important;
  font-family: '404px' !important;
  font-size: 16px !important;
  color: #07D788 !important;
  // border: 1px solid #000 !important;
  // border-color: transparent !important;
  border-radius: 7px !important;
  height: 46px !important;

  .wallet-adapter-button-start-icon {
    display: none !important;
  }

  &:hover {
    // background: #07E993;
    color: #1F3B4F !important;

  }
}

.wallet-adapter-modal-wrapper {
  background: #1f3b4f !important;
  min-width: 422px !important;
  padding: 28px !important;
  box-sizing: border-box !important;
}

.wallet-adapter-modal-button-close {
  // display: none !important;
  background: transparent !important;

  svg {
    fill: #07D788 !important;

    &:hover {
      fill: #B53BFF !important;
    }
  }
}

.wallet-adapter-modal-title {
  display: none !important;
}

.wallet-adapter-modal-list {
  border-radius: 10px !important;
  background-color: #2B526E !important;
  overflow: hidden;

  li {
    border-bottom: 1px solid #1F3B4F;

    &:hover {
      background: #07e993 !important;
    }

    button {
      padding: 0 13px !important;

      &:hover {
        background: #07e993 !important;
        color: #2B526E !important;
      }
    }
  }

  li:last-child {
    border-bottom: none !important;
  }
}

.wallet-adapter-button {
  font-family: '404px' !important;
  font-size: 16px !important;
  height: 46px !important;

  span {
    display: none !important;
  }
}

.wallet-adapter-modal-list-more {
  display: none !important;
}
@media not all and (min-width: 1024px) {
  .wallet-dropdown-menu {
    // box-shadow: 4px 4px 20px 0px #00000026;
    border: 1px solid #07E993;
    background: #1F3B4F;
    // padding:18px 20px;
    width: 250px;
  }

  .divider-x {
    position: absolute;
    width: 100%;
    background: #07E993;
    height: 1px;
    left: 0;
    bottom: 60px;
  }

  .wallet-border {
    border: 1px solid #07D788;
  }

  .connect-to-memoo {
    background: linear-gradient(270deg, #14FCFB 0%, #07E993 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .wallet-adapter-button,
  .wallet-adapter-button-trigger {
    background-color: #1f3b4f !important;
    font-family: '404px' !important;
    font-size: 16px !important;
    color: #07D788 !important;
    // border: 1px solid #000 !important;
    // border-color: transparent !important;
    border-radius: 7px !important;

    .wallet-adapter-button-start-icon {
      display: none !important;
    }

    &:hover {
      // background: #07E993;
      color: #1F3B4F !important;

    }
  }

  .wallet-adapter-modal-wrapper {
    background: #1f3b4f !important;
    width: 325px !important;
    padding: 16px !important;
    box-sizing: border-box !important;
  }

  .wallet-adapter-modal-button-close {
    // display: none !important;
    background: transparent !important;

    svg {
      fill: #07D788 !important;

      &:hover {
        fill: #B53BFF !important;
      }
    }
  }

  .wallet-adapter-modal-title {
    display: none !important;
  }

  .wallet-adapter-modal-list {
    border-radius: 10px !important;
    background-color: #2B526E !important;
    overflow: hidden;

    li {
      border-bottom: 1px solid #1F3B4F;

      &:hover {
        background: #07e993 !important;
      }

      button {
        padding: 0 13px !important;

        &:hover {
          background: #07e993 !important;
          color: #2B526E !important;
        }
      }
    }

    li:last-child {
      border-bottom: none !important;
    }
  }

  .wallet-adapter-button {
    font-family: '404px' !important;
    font-size: 16px !important;

    span {
      display: none !important;
    }
  }

  .wallet-adapter-modal-list-more {
    display: none !important;
  }
}
