.ant-tabs-tab-active{
  color: #000000;
  .ant-tabs-tab-btn{
    color: #000000 !important;
  }
}
.ant-tabs-tab-btn{
  color: #000000 !important;
}
.ant-tabs-nav .ant-tabs-tab{
  background: transparent;
  border: none;
}


