.airDrop_card {
  width: 362px;
  // height: 296px;
  border: 1px solid #b3b3b3;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 13px 22px;

  .airDrop_card_status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0 22px 0;
    border-bottom: 1px solid #b3b3b3;
    .airDrop_card_status_left {
      font-weight: 600;
      font-size: 14px;
      color: #808080;
    }

    .airDrop_card_status_right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;

      span {
        font-family: '404px';
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
        text-align: left;
        color: #3cb4c4;
      }
      img {
        width: 20px;
        height: 20px;
        margin-left: 11px;
      }
    }
  }
  .airDrop_card_title {
    display: flex;
    align-items: center;
    margin-top: 24px;

    h3 {
      font-family: '404px';
      font-size: 18px;
      font-weight: 800;
      // line-height: 16px;
      text-align: left;
      color: #000000;
    }
    img {
      width: 12px;
      height: 12px;
      margin-left: 5px;
    }
  }
  .airDrop_card_progress {
    margin-top: 12px;
    .airDrop_card_progress_value {
      font-family: '404px';
      font-size: 36px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
    }
    .airDrop_card_progress_value_text {
      font-family: '404px';
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
    }
  }
  .airDrop_card_looking{
    width: 275px;
    font-family: '404px';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    margin-top: 18px;
  }
  .airDrop_card_desc{
    width: 180px;
    font-family: OCR A Extended;
    font-size: 10px;
    font-weight: 600;
    line-height: 11px;
    text-align: left;
    margin-top: 20px;
    color: #B3B3B3;
  }
}
.ant-progress-inner{
  height: 15px !important;
  margin-top: 23px;
}
.ant-progress-bg{
  background: linear-gradient(90deg, #6C0101 0%, #FF0000 100%) !important;
  height: 15px !important;
}
