.common-banner-bg {
  width: 100vw;
  height: 470px;
  background-size: cover;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.common-banner-bg-1 {
  background: url('@/assets/imgs/img-banner-bg-1.png') no-repeat center center;
}

.common-banner-bg-2 {
  background: url('@/assets/imgs/img-banner-bg-2.png') no-repeat center center;
  background-size: 100%;
}

.common-banner {
  width: 100%;
  padding: 0 5.625rem;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 166px;
  min-height: 400px;
  margin-top: 70px;

  >img {
    height: 134px;
    margin-bottom: 48px;
  }

  .common-banner-title {
    font-family: 'Kitty Kat';
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    // width: 771px;
    margin-bottom: 19px;
    background: linear-gradient(90deg, #07E993 0%, #14FCFB 100%);
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    white-space: pre-wrap;

  }

  .common-banner-desc {
    font-family: 'OCR A Extended';
    font-size: 20px;
    line-height: 20.69px;
    text-align: center;
    height: 65px;

    color: #fff;

  }
}
