.carousel-column-container {
  overflow: hidden;
  height: 208px;
  position: relative;
}

.carousel-column-track {
  display: flex;
  flex-direction: column;
  animation: scrollUp 30s linear infinite;
}

.carousel-column-item {
  width: 338px;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
}

@keyframes scrollUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.carousel-column-container:hover .carousel-column-track {
  animation-play-state: paused;
}
