.memoo_progress{


  .ant-progress-bg{
    background: linear-gradient(90deg, #8D47FF 0%, #07E993 100.61%) ;
  }
  .ant-progress-inner{
    background: #252841;
  }


}
.other_progress{
  .ant-progress-inner{
    background: #2B526E;
  }

}
